
.pokemons{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 50%;
    width: 50%;
  
  }

.pokemons image{
 height: au
}

.enter{ 
width: 240px;
margin-left: 150px;
margin-top: 30px;
}

.logo-gif{
  margin-right: 350px;
}